html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: "FuturaLight";
  background-color: theme("colors.purple");
  color: theme("colors.white");
  font-size: 4.8vw; // 18px
  @screen sm {
    font-size: 2.343vw; //18px
  }
  @screen lg {
    font-size: 1.5625vw; // 30px
  }
}

:focus {
  outline: none;
}

img,
video {
  @apply object-cover;
}
